.about-me {
  background-color: rgb(4, 4, 27);
  color: #fff !important;
  padding: 20px 25px;
  margin: 0 auto;
  margin-top: -70px;
  max-width: 1200px;
  border-radius: 15px 15px 0 0;
  // box-shadow: 0 0 15px 0.1px #000;
  overflow: hidden !important;

  .about-header {
    margin-bottom: 30px;
    animation-duration: 1.6s;
    background-color: rgb(4, 4, 27);
    padding: 10px;
    border-radius: 15px 15px 0 0;
    animation: movein 0.5s ease-in;

    .abt-head-line {
      padding: 2px;
      background-color: #fff;
      border-radius: 10px;
      width: 100px;
    }

    @keyframes movein {
      from {
        transform: translateX(-200px);
      }
      to {
        transform: translateX(0);
      }
    }
  }

  .abt-me-divs {
    .abt-gen {
      height: 400px;
      background-size: cover;
      margin: 10px 10px;
      transition: 0.3s;
      cursor: pointer;

      h1 {
        text-align: center;
        line-height: 400px !important;
      }

      &:hover {
        transform: scale(1.03);
      }
    }
    // .row {
    .abt-tech {
      background: url("../../public/images/tech1.avif") rgb(62, 61, 61);
      background-blend-mode: multiply;
      animation: movein-abt-tech 1s;
    }

    @keyframes movein-abt-tech {
      from {
        transform: translateX(-500px);
      }
      to {
        transform: translateX(0);
      }
    }

    .abt-other {
      background: url("../../public/images/call1.avif") rgb(62, 61, 61);
      background-blend-mode: multiply;
      animation: movein-abt-other 1s;
    }

    @keyframes movein-abt-other {
      from {
        transform: translateX(500px);
      }
      to {
        transform: translateX(0);
      }
    }
  }
  // }

  // .about-me-body {
  //   .about-intro {
  //     font-size: 18px;
  //     line-height: 35px;
  //     animation: slidein 1.5s ease-in;
  //     animation-duration: 1.6s;

  //     @keyframes slidein {
  //       from {
  //         transform: translateX(1400px);
  //       }
  //       to {
  //         transform: translateX(0);
  //       }
  //     }
  //   }
  // }

  @media screen and (max-width: 1220px) {
    margin: 0 5px;
    margin-top: -70px;
  }
}
