@import "./navbar";
@import "./bg-image";
@import "./about-me.scss";
@import "./projects";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 4, 27);
}

.app {
  max-width: 1500px;
  margin: 0 auto;
  background-color: rgb(4, 4, 27);
  height: 100vh;
  // overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 30px !important;
}
